<a href="https://colab.research.google.com/github/Muhammad-Faiz-Firmansyah/2025_Algoritma_dan_Pemrograman/blob/main/jobsheet_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 – Tuple: Data Tetap yang Tidak Bisa Diubah

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

# Praktikum 02 – Dictionary Dasar: Menyimpan Data Mahasiswa

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM :", mahasiswa["NIM"])
print("Nama :", mahasiswa["Nama"])
print("Prodi :", mahasiswa["Prodi"])

NIM : 20251001
Nama : Andi
Prodi : TRK

# Praktikum 03 – Operasi pada Dictionary

In [ ]:
mahasiswa = {
	"NIM": "20251001",
  "Nama": "Andi",
	"Prodi": "TRK"
  }

mahasiswa["Umur"] = 20
mahasiswa["Prodi"] = "Teknik Komputer" # memperbarui data
del mahasiswa["Umur"]	# menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

# Praktikum 04 – Set dan Operasi Himpunan

In [ ]:
A = {1,2,3,4}
B = {3,4,5,6}

print("Union:",A | B)
print("Intersaction:",A & B)
print("Difference:",A-B)

Union: {1, 2, 3, 4, 5, 6}
Intersaction: {3, 4}
Difference: {1, 2}

# Praktikum 05 – Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Matematika', 'Algoritma', 'Bahasa Inggris'}
Mata kuliah Mhs2: {'Basis Data', 'Matematika', 'Algoritma'}
Mata kuliah yang sama: {'Matematika', 'Algoritma'}

# Praktikum 06 – Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [ ]:
nilai_mahasiswa = {
    "Andi": 80,
  	"Budi": 75,
    "Cici": 90
}
for nama, nilai in nilai_mahasiswa.items():
   print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

# penugasan 01 - Tuple Sederhana

In [ ]:
mahasiswa = ("Muhammad Faiz Firmansyah", 18, "Teknologi Rekayasa Komputer")

print("Nama :", mahasiswa[0])
print("Umur :", mahasiswa[1])
print("Prodi:", mahasiswa[2])

Nama : Muhammad Faiz Firmansyah
Umur : 18
Prodi: Teknologi Rekayasa Komputer

# penugasan 02 - Tuple Tidak Bisa Diubah

In [ ]:
t = (1, 2, 3)
t[0] = 99

TypeError: 'tuple' object does not support item assignment

# penugasan 03 - Dictionary Dasar

In [ ]:
buku = {"Judul": "Algoritma", "Penulis": "Munir", "Tahun": 2021}

print("Judul  :", buku["Judul"])
print("Penulis:", buku["Penulis"])
print("Tahun  :", buku["Tahun"])

Judul  : Algoritma
Penulis: Munir
Tahun  : 2021

# penugasan 04 - Operasi Dictionary

In [ ]:
dosen = {"NIP": "12345", "Nama": "Budi", "Prodi": "TRK"}
dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"

del dosen["Umur"]

print(dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

# penugasan 05 - Set dan Himpunan

In [ ]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union       :", sorted(A | B))
print("Intersection:", sorted(A & B))
print("A - B       :", sorted(A - B))
print("B - A       :", sorted(B - A))

Union       : ['Algoritma', 'Bahasa Inggris', 'Basis Data', 'Matematika']
Intersection: ['Algoritma', 'Matematika']
A - B       : ['Bahasa Inggris']
B - A       : ['Basis Data']

# penugasan 06 - Studi Kasus Dictionary

In [ ]:
nilai = {"Andi": 85, "Budi": 90, "Cici": 78}

for nama, skor in nilai.items():
    print(f"{nama}: {skor}")

rata = sum(nilai.values()) / len(nilai)
print(f"Rata-rata: {rata:.2f}")

Andi: 85
Budi: 90
Cici: 78
Rata-rata: 84.33

# penugasan 07 - Studi Kasus Set – Klub Mahasiswa

In [ ]:
klub_a = {"Andi", "Budi", "Cici"}
klub_b = {"Cici", "Deni", "Eka"}

semua = klub_a | klub_b
kedua = klub_a & klub_b
hanya_a = klub_a - klub_b

print("Seluruh anggota (union):", sorted(semua))
print("Anggota di kedua klub (intersection):", sorted(kedua))
print("Hanya di Klub A (difference A - B):", sorted(hanya_a))

Seluruh anggota (union): ['Andi', 'Budi', 'Cici', 'Deni', 'Eka']
Anggota di kedua klub (intersection): ['Cici']
Hanya di Klub A (difference A - B): ['Andi', 'Budi']