<a href="https://colab.research.google.com/github/Muhammad-Faiz-Firmansyah/2025_Algoritma_dan_Pemrograman/blob/main/jobsheet_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 – Perulangan For dengan Range

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

# Pratikum 02 - Perulangan While

In [ ]:
n = int(input("Masukan angka: "))
while n > 0:
  print(n)
  n -= 1

Masukan angka: 5
5
4
3
2
1

# Praktikum 03 – Nested Loop (Segitiga Bintang)

#

In [ ]:
for i in range(1, 6):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****

# Praktikum 04 - Break dan continue

In [ ]:
for i in range(1, 11):
  if i == 5:
    print("Angka 5 ditemukan")
    break

# Break

Angka 5 ditemukan

In [ ]:
for i in range(1, 6):
  if i % 2 == 1:
    continue
  print(i)

# Continue

2
4

# Praktikum 05 – For pada Dictionary

In [ ]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

# Praktikum 06 – For dengan Enumerate

In [ ]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

# Praktikum 07 – Studi Kasus: Program Kasir Multi-Item

In [ ]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti)")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga (barang): "))
  jumlah = int(input(f"Masukkan jumlah barang: "))
  subtotal = harga * jumlah
  total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti)pulpen
Masukkan harga (barang): 15000
Masukkan jumlah barang: 1
Masukkan nama barang (ketik 'selesai' untuk berhenti)selesai

===== Struk Belanja =====
Total Belanja : Rp 15000.0

# Praktikum 08 - Menampilkan Deret Angka

In [13]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

# Praktikum 09 - Hitung Faktorial

In [14]:
try:
    n = int(input("Masukkan bilangan bulat non-negatif: "))

    if n < 0:
        print("Bilangan harus non-negatif.")
    else:
        faktorial = 1
        i = 1
        while i <= n:
            faktorial *= i
            i += 1
        print(f"{n}! = {faktorial}")
except ValueError:
    print("Input tidak valid. Masukkan bilangan bulat.")

Masukkan bilangan bulat non-negatif: 5
5! = 120

# Praktikum 10 - Pola Segitiga Terbalik

In [15]:
tinggi = 5

for i in range(tinggi, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*****
****
***
**
*

# Praktikum 11 - Cari Bilangan Prima dengan Break

In [16]:
try:
    n = int(input("Masukkan bilangan bulat: "))

    if n < 2:
        print(f"{n} bukan bilangan prima.")
    else:
        batas = int(n**0.5) + 1
        for d in range(2, batas):
            if n % d == 0:
                print(f"{n} bukan bilangan prima (punya faktor {d}).")
                break
        else:
            print(f"{n} adalah bilangan prima.")

except ValueError:
    print("Input tidak valid. Masukkan bilangan bulat.")

Masukkan bilangan bulat: 19
19 adalah bilangan prima.

# Praktikum 12 - Tampilkan Hanya Bilangan Genap dengan Continue

In [17]:
for i in range(1, 21):
    if i % 2 != 0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

# Praktikum 13 - Iterasi Dictionary Mahasiswa

In [18]:
mahasiswa = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

hitung = 0
total = len(mahasiswa)

for k, v in mahasiswa.items():
    print(f"{k} : {v}", end=" ")
    hitung += 1
    if hitung % 2 == 0 or hitung == total:
        print()

Nama : Budi Umur : 21
Prodi : Teknik Komputer

# Praktikum 14 - Enumerate Daftar Barang

In [19]:
barang = ["Buku", "Pulpen", "Tas"]

for no, item in enumerate(barang, start=1):
    print(f"▪ {no} {item}")

▪ 1 Buku
▪ 2 Pulpen
▪ 3 Tas

# Praktikum 15 - Studi Kasus – Kasir Diskon

In [22]:
item = []
total = 0

print("Ketik 'selesai' untuk mengakhiri.\n")

while True:
  nama = input("Nama barang: ").strip()
  if nama.lower() == "selesai":
    break

  qty = int(input("Jumlah: "))
  harga = int(input("Harga satuan (Rp): "))
  subtotal = qty * harga

  item.append((nama, qty, harga, subtotal))
  total += subtotal
  print(f"Ditambahkan: {nama} x{qty} = Rp {subtotal}\n")

diskon = int(0.1 * total) if total >= 200_000 else 0
grand_total = total - diskon

print("\n--- STRUK ---")
for i, (nama, qty, harga, subtotal) in enumerate(item, start=1):
  print(f"{i}. {nama} x{qty} = Rp {subtotal}")

print(f"Total         : Rp {total}")
print(f"Diskon 10%    : Rp {diskon}")
print(f"Grand Total   : Rp {grand_total}")
print(f"Terima Kasih!")

Ketik 'selesai' untuk mengakhiri.

Nama barang: pulpen
Jumlah: 2
Harga satuan (Rp): 6000
Ditambahkan: pulpen x2 = Rp 12000

Nama barang: selesai

--- STRUK ---
1. pulpen x2 = Rp 12000
Total         : Rp 12000
Diskon 10%    : Rp 0
Grand Total   : Rp 12000
Terima Kasih!